# CREATING TABLES IN SQL

In [3]:
import sqlite3

In [4]:
conn = sqlite3.connect('def_jam.db')
cursor = conn.cursor()

In [160]:
create_drop_query = """DROP TABLE Medium_Dimensional"""


cursor.execute(create_drop_query)
conn.commit()

In [58]:
create_Track_table_query = """ CREATE TABLE  Track_Dimensional
(Track_ID INTEGER PRIMARY KEY NOT NULL UNIQUE,
Track_Name TEXT NOT NULL,
Track_Duration NUMERIC NOT NULL,
Track_Language TEXT NOT NULL)"""

In [59]:
cursor.execute(create_Track_table_query)
conn.commit()

OperationalError: table Track_Dimensional already exists

In [108]:
create_Album_table_query = """ CREATE TABLE Album_Dimensional
(Album_ID INTEGER PRIMARY KEY NOT NULL UNIQUE,
Album_Name TEXT NOT NULL,
Album_Track_Number INTEGER NOT NULL,
Album_Release_Year INTEGER NOT NULL)"""

In [109]:
cursor.execute(create_Album_table_query)
conn.commit()

In [161]:
create_Medium_table_query = """ CREATE TABLE Medium_Dimensional
(Medium_ID INTEGER PRIMARY KEY,
Medium_Name STRING NOT NULL,
Device_ID INTEGER NOT NULL UNIQUE,
FOREIGN KEY(Device_ID) REFERENCES Device_Dimensional(Device_ID))"""

In [162]:
cursor.execute(create_Medium_table_query)
conn.commit()

In [115]:
create_Genre_table_query = """ CREATE TABLE Genre_Dimensional
(Genre_ID INTEGER PRIMARY KEY NOT NULL UNIQUE,
Genre_Name TEXT NOT NULL)"""

In [116]:
cursor.execute(create_Genre_table_query)
conn.commit()

In [146]:
create_device_dimension_table_query = """ CREATE TABLE  Device_Dimensional
(Device_ID INTEGER PRIMARY KEY NOT NULL UNIQUE,
Device_Type TEXT NOT NULL
)"""

In [147]:
cursor.execute(create_device_dimension_table_query)
conn.commit()

In [185]:
create_Employee_Table_query = """ CREATE TABLE  Employee_Dimensional
(Employee_ID INTEGER PRIMARY KEY NOT NULL UNIQUE,
Employee_FirstName TEXT NOT NULL,
Employee_LastName TEXT NOT NULL,
Employee_Email VARCHAR NOT NULL UNIQUE,
Employee_Region TEXT NOT NULL,
Employee_Role_Title TEXT NOT NULL)"""

In [186]:
cursor.execute(create_Employee_Table_query)
conn.commit()

In [7]:
create_Date_Table_query = """ CREATE TABLE  Date_Dimensional
(Date_ID INTEGER PRIMARY KEY NOT NULL UNIQUE,
Date DATE NOT NULL,
Day INTEGER NOT NULL,
DayOfTheWeek TEXT NOT NULL,
Month TEXT NOT NULL,
Year INTEGER NOT NULL)"""

In [8]:
cursor.execute(create_Date_Table_query)
conn.commit()

In [127]:
create_Artist_Dimensional_Table = """ CREATE TABLE  Artist_Dimensional
(Artist_ID INTEGER PRIMARY KEY NOT NULL UNIQUE,
Artist_name VARCHAR(50) NOT NULL UNIQUE,
Country_of_origin TEXT NOT NULL)"""

In [128]:

cursor.execute(create_Artist_Dimensional_Table)
conn.commit()

In [181]:
create_Location_Dimensional_Table = """ CREATE TABLE  Location_Dimensional
(Location_ID INTEGER PRIMARY KEY NOT NULL UNIQUE,
City TEXT NOT NULL,
State TEXT NOT NULL,
Country TEXT NOT NULL)"""

In [182]:
cursor.execute(create_Location_Dimensional_Table)
conn.commit()

In [131]:
create_Customer_Dimensional_Table = """ CREATE TABLE  Customer_Dimensional
(Customer_ID INTEGER PRIMARY KEY NOT NULL UNIQUE,
Customer_Rep_ID INTEGER NOT NULL,
Customer_Name TEXT NOT NULL,
Customer_DOB DATE NOT NULL,
Customer_Gender TEXT NOT NULL,
Customer_City TEXT NOT NULL,
Customer_Country TEXT NOT NULL,
Customer_Postal_Code VARCHAR(20) NOT NULL,
Customer_Email VARCHAR(50) NOT NULL,
Customer_Phone_Number VARCHAR(20) NOT NULL,
FOREIGN KEY(Customer_Rep_ID) REFERENCES Employee_Dimensional(Employee_ID))"""

In [132]:
cursor.execute(create_Customer_Dimensional_Table)
conn.commit()

In [73]:
create_Marketing_Fact_table_query = """ CREATE TABLE  Marketing_Campaign_Fact
(Marketing_Campaign INTEGER PRIMARY KEY NOT NULL UNIQUE,
Conversion_Rate FLOAT NOT NULL,
Location_ID INTEGER NOT NULL UNIQUE,
Customer_ID INTEGER NOT NULL UNIQUE,
Date_ID INTEGER NOT NULL UNIQUE,
Employee_ID INTEGER NOT NULL UNIQUE,
Artist_ID INTEGER NOT NULL UNIQUE,
FOREIGN KEY(Artist_ID) REFERENCES Artist_Dimensional(Artist_ID),
FOREIGN KEY(Location_ID) REFERENCES Location_Dimensional(Location_ID),
FOREIGN KEY(Customer_ID) REFERENCES Customer_Dimensional(Customer_ID),
FOREIGN KEY(Date_ID) REFERENCES Date_Dimensional(Date_ID),
FOREIGN KEY(Employee_ID) REFERENCES Employee_Dimensional(Employee_ID))"""

In [74]:
cursor.execute(create_Marketing_Fact_table_query)
conn.commit()

In [93]:
create_review_fact_table_query = """ CREATE TABLE  Review_Fact
(Review_ID INTEGER PRIMARY KEY NOT NULL UNIQUE,
Artist_ID INTEGER NOT NULL,
Customer_ID INTEGER NOT NULL,
Medium_ID INTEGER NOT NULL,
Date_ID INTEGER NOT NULL,
Location_ID INTEGER NOT NULL,
Rating NUMERIC NOT NULL,
Review_Sentiment TEXT NOT NULL,
FOREIGN KEY(Artist_ID) REFERENCES Artist_Dimensional(Artist_ID),
FOREIGN KEY(Customer_ID) REFERENCES Customer_Dimensional(Customer_ID),
FOREIGN KEY(Medium_ID) REFERENCES Medium_Dimensional(Medium_ID),
FOREIGN KEY(Date_ID) REFERENCES Date_Table_Dimensional(Date_ID),
FOREIGN KEY(Location_ID) REFERENCES Location_Dimensional(Location_ID))"""

In [94]:
cursor.execute(create_review_fact_table_query)
conn.commit()

In [87]:
create_Sales_Fact_table_query = """ CREATE TABLE  Sales_Fact
(Order_ID INTEGER PRIMARY KEY NOT NULL UNIQUE,
Artist_ID INTEGER NOT NULL,
Track_ID INTEGER NOT NULL,
Location_ID INTEGER NOT NULL,
Medium_ID INTEGER NOT NULL,
Album_ID INTEGER NOT NULL,
Customer_ID INTEGER NOT NULL,
Genre_ID INTEGER NOT NULL,
Date_ID INTEGER NOT NULL,
Units_Sold INTEGER NOT NULL,
Revenue NUMERIC NOT NULL,
FOREIGN KEY(Artist_ID) REFERENCES Artist_Dimensional(Artist_ID),
FOREIGN KEY(Location_ID) REFERENCES Location_Dimensional(Location_ID),
FOREIGN KEY(Customer_ID) REFERENCES Customer_Dimensional(Customer_ID),
FOREIGN KEY(Date_ID) REFERENCES Date_Dimensional(Date_ID),
FOREIGN KEY(Album_ID) REFERENCES Album_Dimensional(Album_ID),
FOREIGN KEY(Track_ID) REFERENCES Track_Dimensional(Track_ID),
FOREIGN KEY(Medium_ID) REFERENCES Medium_Dimensional(Medium_ID),
FOREIGN KEY(Genre_ID) REFERENCES Genre_Dimensional(Genre_ID))"""

In [88]:
cursor.execute(create_Sales_Fact_table_query)
conn.commit()

# IMPORTING EXCEL FILES AND TRANSFORMATIONS

In [10]:
import pandas as pd

In [98]:
albums = pd.read_excel("Album_Table.xlsx")

In [99]:
albums

,Album_ID,Album_Name,Album_Track_Number,Album_Release_Year
0,320301.0,Donda,18.0,2021.0
1,320302.0,Confessions of a Dangerous Mind,10.0,2019.0
2,320303.0,Bigger and Deffer,12.0,1987.0
3,320304.0,Kids See Ghosts,11.0,1988.0
4,320305.0,It Takes a Nation of Millions to Hold Us Back,15.0,1988.0
5,320306.0,Late Nights,13.0,2014.0
6,320307.0,Johnson Family Vacation,14.0,2004.0
7,320308.0,B.O.A.T.S. II: Me Time,15.0,2013.0
8,320309.0,Channel Orange,18.0,2012.0
9,320310.0,Summertime '06,20.0,2015.0

In [100]:
albums['Album_ID'] = albums['Album_ID'].astype("string")
albums['Album_Track_Number'] = albums['Album_Track_Number'].astype(float)
albums['Album_Release_Year'] = albums['Album_Release_Year'].astype("string")
albums['Album_Name'] = albums['Album_Name'].astype("string")

In [101]:
albums.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Album_ID            10 non-null     string
 1   Album_Name          10 non-null     string
 2   Album_Track_Number  10 non-null     float64
 3   Album_Release_Year  10 non-null     string
dtypes: float64(1), string(3)
memory usage: 448.0 bytes

In [112]:
artists_review = pd.read_excel("Artist_Review_Table.xlsx")

In [115]:
artists_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Review_ID         10 non-null     string
 1   Artist_ID         10 non-null     string
 2   Customer_ID       10 non-null     string
 3   Medium_ID         10 non-null     string
 4   Date_ID           10 non-null     string
 5   Location_ID       10 non-null     string
 6   Rating            10 non-null     float64
 7   Review_Sentiment  10 non-null     string
dtypes: float64(1), string(7)
memory usage: 768.0 bytes

In [114]:
artists_review['Review_ID'] = artists_review['Review_ID'].astype("string")
artists_review['Artist_ID'] = artists_review['Artist_ID'].astype("string")
artists_review['Customer_ID'] = artists_review['Customer_ID'].astype("string")
artists_review['Date_ID'] = artists_review['Date_ID'].astype("string")
artists_review['Medium_ID'] = artists_review['Medium_ID'].astype("string")
artists_review['Location_ID'] = artists_review['Location_ID'].astype("string")
artists_review['Review_Sentiment'] = artists_review['Review_Sentiment'].astype("string")

In [138]:
artists = pd.read_excel("Artist_Table.xlsx")

In [140]:
artists

   Artist_ID      Artist_Name Country_of_Origin
0     501321       Kanye West               USA
1     501322            Logic               USA
2     501323        LL Cool J               USA
3     501324  Kids See Ghosts               USA
4     501325     Public Enemy               USA
5     501326          Jeremih               USA
6     501327       Joe Budden               USA
7     501328         2 Chainz               USA
8     501329      Frank Ocean               USA
9     501330    Vince Staples               USA

In [142]:
artists['Artist_ID'] = artists['Artist_ID'].astype("string")
artists['Artist_Name'] = artists['Artist_Name'].astype("string")
artists['Country_of_Origin'] = artists['Country_of_Origin'].astype("string")

In [137]:
customers = pd.read_excel("Customer_Table.xlsx")

In [138]:
customers.columns

Index(['Customer_ID', 'Customer_Rep_ID', 'Customer_Name', 'Customer_DOB',
       'Customer_Gender', 'Customer_City', 'Customer_Country',
       'Customer_Postal_Code', 'Customer_Email', 'Customer_Phone_Number'],
      dtype='object')

In [141]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer_ID            10 non-null     string
 1   Customer_Rep_ID        10 non-null     string
 2   Customer_Name          10 non-null     string
 3   Customer_DOB           10 non-null     string
 4   Customer_Gender        10 non-null     string
 5   Customer_City          10 non-null     string
 6   Customer_Country       10 non-null     string
 7   Customer_Postal_Code   10 non-null     string
 8   Customer_Email         10 non-null     string
 9   Customer_Phone_Number  10 non-null     string
dtypes: string(10)
memory usage: 928.0 bytes

In [140]:
customers['Customer_ID'] = customers['Customer_ID'].astype("string")
customers['Customer_Rep_ID'] = customers['Customer_Rep_ID'].astype("string")
customers['Customer_Name'] = customers['Customer_Name'].astype("string")
customers['Customer_Gender'] = customers['Customer_Gender'].astype("string")
customers['Customer_City'] = customers['Customer_City'].astype("string")
customers['Customer_Country'] = customers['Customer_Country'].astype("string")
customers['Customer_Email'] = customers['Customer_Email'].astype("string")
customers['Customer_Phone_Number'] = customers['Customer_Phone_Number'].astype("string")
customers['Customer_Postal_Code'] = customers['Customer_Postal_Code'].astype("string")
customers['Customer_DOB'] = customers['Customer_DOB'].astype("string")

In [148]:
devices = pd.read_excel("Device_Dimensional.xlsx")

In [151]:
devices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Device_ID    4 non-null      string
 1   Device_Type  4 non-null      string
dtypes: string(2)
memory usage: 192.0 bytes

In [150]:
devices['Device_ID'] = devices['Device_ID'].astype("string")
devices['Device_Type'] = devices['Device_Type'].astype("string")

In [11]:
dates = pd.read_excel("Date_Table.xlsx")

In [12]:
dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date_ID       10 non-null     int64
 1   Date          10 non-null     datetime64[ns]
 2   Day           10 non-null     int64
 3   DayOfTheWeek  10 non-null     object
 4   Month         10 non-null     object
 5   Year          10 non-null     int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 608.0+ bytes

In [16]:
dates['Date_ID'] = dates['Date_ID'].astype("string")
dates['Day'] = dates['Day'].astype("string")
dates['Date'] = dates['Date'].astype("string")
dates['DayOfTheWeek'] = dates['DayOfTheWeek'].astype("string")
dates['Month'] = dates['Month'].astype("string")
dates['Year'] = dates['Year'].astype("string")

In [17]:
dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date_ID       10 non-null     string
 1   Date          10 non-null     string
 2   Day           10 non-null     string
 3   DayOfTheWeek  10 non-null     string
 4   Month         10 non-null     string
 5   Year          10 non-null     string
dtypes: string(6)
memory usage: 608.0 bytes

In [187]:
employees = pd.read_excel("Employee_Table.xlsx")

In [190]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          10 non-null     int64
 1   Employee_FirstName   10 non-null     object
 2   Employee_LastName    10 non-null     object
 3   Employee_Email       10 non-null     object
 4   Employee_Region      10 non-null     object
 5   Employee_Role_Title  10 non-null     object
dtypes: int64(1), object(5)
memory usage: 608.0+ bytes

In [191]:
employees['Employee_ID'] = employees['Employee_ID'].astype("string")
employees['Employee_FirstName'] = employees['Employee_FirstName'].astype("string")
employees['Employee_LastName'] = employees['Employee_LastName'].astype("string")
employees['Employee_Email'] = employees['Employee_Email'].astype("string")
employees['Employee_Region'] = employees['Employee_Region'].astype("string")
employees['Employee_Role_Title'] = employees['Employee_Role_Title'].astype("string")

In [117]:
genres = pd.read_excel("Genre_Table.xlsx")

In [119]:
genres['Genre_ID'] = genres['Genre_ID'].astype("string")
genres['Genre_Name'] = genres['Genre_Name'].astype("string")

In [120]:
genres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Genre_ID    8 non-null      string
 1   Genre_Name  8 non-null      string
dtypes: string(2)
memory usage: 256.0 bytes

In [168]:
locations = pd.read_excel("Location_Table.xlsx")

In [169]:
locations.drop_duplicates(inplace=True)

In [170]:
locations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 0 to 9
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Location_ID  9 non-null      int64
 1   City         9 non-null      object
 2   State        9 non-null      object
 3   Country      9 non-null      object
dtypes: int64(1), object(3)
memory usage: 360.0+ bytes

In [171]:
locations['Location_ID'] = locations['Location_ID'].astype("string")
locations['City'] = locations['City'].astype("string")
locations['State'] = locations['State'].astype("string")
locations['Country'] = locations['Country'].astype("string")

In [65]:
marketing_campaign = pd.read_excel("Marketing_Campaign.xlsx")

In [66]:
marketing_campaign.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Marketing_Campaign_ID  9 non-null      int64
 1   Artist_ID              9 non-null      int64
 2   Location_ID            9 non-null      int64
 3   Customer_ID            9 non-null      int64
 4   Date_ID                9 non-null      int64
 5   Employee_ID            9 non-null      int64
 6   Conversion_Rate        9 non-null      int64
dtypes: int64(7)
memory usage: 632.0 bytes

In [67]:
marketing_campaign['Marketing_Campaign_ID'] = marketing_campaign['Marketing_Campaign_ID'].astype("string")
marketing_campaign['Artist_ID'] = marketing_campaign['Artist_ID'].astype("string")
marketing_campaign['Location_ID'] = marketing_campaign['Location_ID'].astype("string")
marketing_campaign['Customer_ID'] = marketing_campaign['Customer_ID'].astype("string")
marketing_campaign['Date_ID'] = marketing_campaign['Date_ID'].astype("string")
marketing_campaign['Employee_ID'] = marketing_campaign['Employee_ID'].astype("string")
marketing_campaign['Conversion_Rate'] = marketing_campaign['Conversion_Rate'].astype("float")

In [68]:
marketing_campaign

,Marketing_Campaign_ID,Artist_ID,Location_ID,Customer_ID,Date_ID,Employee_ID,Conversion_Rate
0,1156321,501321,632931,900001,700001,1012091,23.0
1,1156322,501322,632932,900002,700002,1012092,18.0
2,1156323,501323,632933,900003,700003,1012093,10.0
3,1156324,501324,632934,900004,700004,1012094,32.0
4,1156326,501326,632936,900006,700006,1012096,13.0
5,1156327,501327,632937,900007,700007,1012097,16.0
6,1156328,501328,632938,900008,700008,1012098,17.0
7,1156329,501329,632939,900009,700009,1012099,22.0
8,1156330,501330,632940,900010,700010,1012100,8.0

In [8]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.3.1; however, version 22.2.1 is available.
You should consider upgrading via the 'c:\Users\chris\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [7]:
import pandas as pd

In [166]:
medium = pd.read_csv("Medium_Table.csv")

In [167]:
medium.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Medium_ID    4 non-null      int64
 1   Medium_Name  4 non-null      object
 2   Device_ID    4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes

In [168]:
medium['Medium_Name'] = medium['Medium_Name'].astype("string")

In [169]:
medium['Medium_ID'] = medium['Medium_ID'].astype("string")

In [170]:
medium['Device_ID'] = medium['Device_ID'].astype("string")

In [171]:
medium.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Medium_ID    4 non-null      string
 1   Medium_Name  4 non-null      string
 2   Device_ID    4 non-null      string
dtypes: string(3)
memory usage: 224.0 bytes

In [46]:
ratings = pd.read_excel("Rating_Table.xlsx")

In [79]:
sales = pd.read_excel("Sales_Fact_Table.xlsx")

In [80]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Order_ID     10 non-null     int64
 1   Artist_ID    10 non-null     int64
 2   Track_ID     10 non-null     int64
 3   Location_ID  10 non-null     int64
 4   Medium_ID    10 non-null     int64
 5   Album_ID     10 non-null     int64
 6   Customer_ID  10 non-null     int64
 7   Genre_ID     10 non-null     int64
 8   Date_ID      10 non-null     int64
 9   Units Sold   10 non-null     int64
 10  Revenue      10 non-null     int64
dtypes: int64(11)
memory usage: 1008.0 bytes

In [81]:
sales['Order_ID'] = sales['Order_ID'].astype('string')
sales['Artist_ID'] = sales['Artist_ID'].astype('string')
sales['Track_ID'] = sales['Track_ID'].astype('string')
sales['Location_ID'] = sales['Location_ID'].astype('string')
sales['Medium_ID'] = sales['Medium_ID'].astype('string')
sales['Album_ID'] = sales['Album_ID'].astype('string')
sales['Customer_ID'] = sales['Customer_ID'].astype('string')
sales['Genre_ID'] = sales['Genre_ID'].astype('string')
sales['Date_ID'] = sales['Date_ID'].astype('string')
sales['Units Sold'] = sales['Units Sold'].astype(float)
sales['Revenue'] = sales['Revenue'].astype(float)

In [82]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Order_ID     10 non-null     string
 1   Artist_ID    10 non-null     string
 2   Track_ID     10 non-null     string
 3   Location_ID  10 non-null     string
 4   Medium_ID    10 non-null     string
 5   Album_ID     10 non-null     string
 6   Customer_ID  10 non-null     string
 7   Genre_ID     10 non-null     string
 8   Date_ID      10 non-null     string
 9   Units Sold   10 non-null     float64
 10  Revenue      10 non-null     float64
dtypes: float64(2), string(9)
memory usage: 1008.0 bytes

In [55]:
tracks = pd.read_excel("Track_Table.xlsx")

In [57]:
tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Track_ID                  10 non-null     int64
 1   Track_Name                10 non-null     object
 2   Track_Duration (Seconds)  10 non-null     int64
 3   Track_Language            10 non-null     object
dtypes: int64(2), object(2)
memory usage: 448.0+ bytes

In [61]:
tracks['Track_ID'] = tracks['Track_ID'].astype("string")
tracks['Track_Name'] = tracks['Track_Name'].astype("string")
tracks['Track_Duration (Seconds)'] = tracks['Track_Duration (Seconds)'].astype("float")
tracks['Track_Language'] = tracks['Track_Language'].astype("string")

In [62]:
tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Track_ID                  10 non-null     string
 1   Track_Name                10 non-null     string
 2   Track_Duration (Seconds)  10 non-null     float64
 3   Track_Language            10 non-null     string
dtypes: float64(1), string(3)
memory usage: 448.0 bytes

# CONVERTING TO TUPLES FOR SQL

In [32]:
import json
import pandas as pd
import numpy as np

In [104]:
albums = albums.to_records(index = False)

In [143]:
artists = artists.to_records(index = False)

In [116]:
artists_review = artists_review.to_records(index = False)

In [83]:
sales = sales.to_records(index = False)

In [69]:
marketing_campaign = marketing_campaign.to_records(index = False)

In [152]:
devices = devices.to_records(index = False)

In [18]:
dates = dates.to_records(index = False)

In [142]:
customers = customers.to_records(index = False)

In [193]:
employees = employees.to_records(index = False)

AttributeError: recarray has no attribute to_records

In [172]:
locations = locations.to_records(index = False)

In [63]:
tracks = tracks.to_records(index=False)

In [172]:
medium = medium.to_records(index = False)

In [121]:
genres = genres.to_records(index=False)

# INSERT

In [110]:
def insert_albums(recordlist):
    insert_albums = """INSERT INTO Album_Dimensional
    (Album_ID,Album_Name,Album_Track_Number,Album_Release_Year)
    VALUES (?,?,?,?)"""
    cursor.executemany(insert_albums, recordlist)
    conn.commit()
    print("Albums successfully entered")

In [111]:
insert_albums(albums)

Albums successfully entered

In [164]:
def insert_medium(recordlist):
    insert_medium_query = """INSERT INTO Medium_Dimensional
    (Medium_ID,Medium_Name,Device_ID)
    VALUES (?,?,?)"""
    cursor.executemany(insert_medium_query, recordlist)
    conn.commit()
    print("Medium successfully entered")

In [173]:
insert_medium(medium)

Medium successfully entered

In [64]:
def insert_tracks(recordlist):
    insert_tracks_query = """INSERT INTO Track_Dimensional
    (Track_ID,Track_Name,Track_Duration,Track_Language)
    VALUES (?,?,?,?)"""
    cursor.executemany(insert_tracks_query, recordlist)
    conn.commit()
    print("Tracks successfully entered")

In [66]:
insert_tracks(tracks)

Tracks successfully entered

In [122]:
def insert_genres(recordlist):
    insert_genres_query = """INSERT INTO Genre_Dimensional
    (Genre_ID,Genre_Name)
    VALUES (?,?)"""
    cursor.executemany(insert_genres_query, recordlist)
    conn.commit()
    print("Genres successfully entered")

In [123]:
insert_genres(genres)

Genres successfully entered

In [134]:
def insert_artists(recordlist):
    insert_artists_query = """INSERT INTO Artist_Dimensional
    (Artist_ID,Artist_name,Country_of_origin)
    VALUES (?,?,?)"""
    cursor.executemany(insert_artists_query, recordlist)
    conn.commit()
    print("Artists successfully entered")

In [148]:
insert_artists(artists)

Artists successfully entered

In [144]:
artists

rec.array([('501321', 'Kanye West', 'USA'), ('501322', 'Logic', 'USA'),
           ('501323', 'LL Cool J', 'USA'),
           ('501324', 'Kids See Ghosts', 'USA'),
           ('501325', 'Public Enemy', 'USA'),
           ('501326', 'Jeremih', 'USA'), ('501327', 'Joe Budden', 'USA'),
           ('501328', '2 Chainz', 'USA'),
           ('501329', 'Frank Ocean', 'USA'),
           ('501330', 'Vince Staples', 'USA')],
          dtype=[('Artist_ID', 'O'), ('Artist_Name', 'O'), ('Country_of_Origin', 'O')])

In [183]:
def insert_locations(recordlist):
    insert_locations_query = """INSERT INTO Location_Dimensional
    (Location_ID,City,State,Country)
    VALUES (?,?,?,?)"""
    cursor.executemany(insert_locations_query, recordlist)
    conn.commit()
    print("Locations successfully entered")

In [184]:
insert_locations(locations)

Locations successfully entered

In [179]:
locations

rec.array([('632931', 'New york', 'New York', 'USA'),
           ('632932', 'Manhattan', 'New York', 'USA'),
           ('632933', 'Los Angeles', 'California', 'USA'),
           ('632934', 'San diego', 'California', 'USA'),
           ('632936', 'Atlanta', 'Georgia', 'USA'),
           ('632937', 'Dallas', 'Texas', 'USA'),
           ('632938', 'Austin', 'Texas', 'USA'),
           ('632939', 'Detroit', 'Michigan', 'USA'),
           ('632940', 'Miami', 'Florida', 'USA')],
          dtype=[('Location_ID', 'O'), ('City', 'O'), ('State', 'O'), ('Country', 'O')])

In [134]:
def insert_employees(recordlist):
    insert_employees_query = """INSERT INTO Employee_Dimensional
    (Employee_ID,Employee_FirstName,Employee_LastName,Employee_Email,Employee_Region,Employee_Role_Title)
    VALUES (?,?,?,?,?,?)"""
    cursor.executemany(insert_employees_query, recordlist)
    conn.commit()
    print("Employees successfully entered")

In [133]:
insert_employees(employees)

NameError: name 'insert_employees' is not defined

In [135]:
def insert_customers(recordlist):
    insert_customers_query = """INSERT INTO Customer_Dimensional
    ('Customer_ID', 'Customer_Rep_ID', 'Customer_Name', 'Customer_DOB',
       'Customer_Gender', 'Customer_City', 'Customer_Country',
       'Customer_Postal_Code', 'Customer_Email', 'Customer_Phone_Number')
    VALUES (?,?,?,?,?,?,?,?,?,?)"""
    cursor.executemany(insert_customers_query, recordlist)
    conn.commit()
    print("Customers successfully entered")

In [143]:
insert_customers(customers)

Customers successfully entered

In [19]:
def insert_dates(recordlist):
    insert_dates_query = """INSERT INTO Date_Dimensional
    ('Date_ID', 'Date', 'Day', 'DayOfTheWeek',
       'Month', 'Year')
    VALUES (?,?,?,?,?,?)"""
    cursor.executemany(insert_dates_query, recordlist)
    conn.commit()
    print("Dates successfully entered")

In [20]:
insert_dates(dates)

Dates successfully entered

In [158]:
def insert_devices(recordlist):
    insert_devices_query = """INSERT INTO Device_Dimensional
    ('Device_ID','Device_Type')
    VALUES (?,?)"""
    cursor.executemany(insert_devices_query, recordlist)
    conn.commit()
    print("Devices successfully entered")

In [159]:
insert_devices(devices)

Devices successfully entered

In [157]:
devices

rec.array([('2514231', 'Smartphone'), ('2514232', 'Laptop'),
           ('2514233', 'Tablet'), ('2514234', 'Desktop')],
          dtype=[('Device_ID', 'O'), ('Device_Type', 'O')])

In [75]:
def insert_marketing_campaign(recordlist):
    insert_marketing_campaign_query = """INSERT INTO Marketing_Campaign_Fact
    ('Marketing_Campaign','Conversion_Rate','Location_ID','Customer_ID','Date_ID','Employee_ID','Artist_ID')
    VALUES (?,?,?,?,?,?,?)"""
    cursor.executemany(insert_marketing_campaign_query, recordlist)
    conn.commit()
    print("Marketing Campaign successfully entered")

In [76]:
insert_marketing_campaign(marketing_campaign)

Marketing Campaign successfully entered

In [89]:
def insert_sales(recordlist):
    insert_sales_query = """INSERT INTO Sales_Fact
    ('Order_ID','Artist_ID','Track_ID','Location_ID','Medium_ID','Album_ID','Customer_ID','Genre_ID','Date_ID','Units_Sold','Revenue')
    VALUES (?,?,?,?,?,?,?,?,?,?,?)"""
    cursor.executemany(insert_sales_query, recordlist)
    conn.commit()
    print("Sales successfully entered")

In [90]:
insert_sales(sales)

Sales successfully entered

In [109]:
def insert_review_fact(recordlist):
    insert_review_fact_query = """INSERT INTO Review_Fact
    ('Review_ID','Artist_ID','Customer_ID','Medium_ID','Date_ID','Location_ID','Rating','Review_Sentiment')
    VALUES (?,?,?,?,?,?,?,?)"""
    cursor.executemany(insert_review_fact_query, recordlist)
    conn.commit()
    print("Reviews successfully entered")

In [117]:
insert_review_fact(artists_review)

Reviews successfully entered

In [106]:
artists_review

rec.array([('5013201.0', '900001.0', '211121.0', '700001.0', '632931.0', 3. , 'Positive'),
           ('5013202.0', '900002.0', '211122.0', '700002.0', '632932.0', 4. , 'Positive'),
           ('5013203.0', '900003.0', '211123.0', '700003.0', '632933.0', 3.5, 'Positive'),
           ('5013204.0', '900004.0', '211124.0', '700004.0', '632934.0', 5. , 'Positive'),
           ('5013205.0', '900005.0', '211121.0', '700005.0', '632935.0', 4.5, 'Positive'),
           ('5013206.0', '900006.0', '211122.0', '700006.0', '632936.0', 2.5, 'Negative'),
           ('5013207.0', '900007.0', '211123.0', '700007.0', '632937.0', 4.5, 'Negative'),
           ('5013208.0', '900008.0', '211124.0', '700008.0', '632938.0', 4. , 'Negative'),
           ('5013209.0', '900009.0', '211122.0', '700009.0', '632939.0', 3. , 'Negative'),
           ('5013210.0', '900010.0', '211123.0', '700010.0', '632940.0', 3.5, 'Negative')],
          dtype=[('Artist_ID', 'O'), ('Customer_ID', 'O'), ('Medium_ID', 'O'), ('Date_ID', 'O'), ('Location_ID', 'O'), ('Rating', '<f8'), ('Review_Sentiment', 'O')])

# Triggers

In [144]:
create_trigger_customerphone_query = """
CREATE TRIGGER customerphone
  BEFORE INSERT ON Customer_Dimensional
  BEGIN 
      SELECT
          CASE
            WHEN NEW.Customer_Phone_Number NOT LIKE '%___%' THEN
                     RAISE (ABORT,'Invalid phone number')
               END;
  END;
  """


cursor.execute(create_trigger_customerphone_query)
conn.commit()

In [ ]:
def insert_invalid_phone(id, city, state):
    insert_record_query = """ INSERT INTO location_dimension (location_id, city, state) VALUES (?, ?, ?)"""
    data_tuple = (id, city, state)
    cursor.execute(insert_record_query, data_tuple)
    conn.commit()
    print('New data inserted successfully')

In [127]:
create_trigger_employee_email_query = """
CREATE TRIGGER employee_email_trigger
  BEFORE INSERT ON Employee_Dimensional
  BEGIN 
      SELECT
          CASE
            WHEN NEW.Employee_Email NOT LIKE '%__@__%' THEN
                     RAISE (ABORT,'Invalid Email')
               END;
  END;
  """


cursor.execute(create_trigger_employee_email_query)
conn.commit()

In [128]:
create_trigger_date_query = """
CREATE TRIGGER date_trigger
  BEFORE INSERT ON Date_Dimensional
  BEGIN 
      SELECT
          CASE
            WHEN NEW.Date NOT LIKE '%____-__-__%' THEN
                     RAISE (ABORT,'Invalid Date')
               END;
  END;
  """


cursor.execute(create_trigger_date_query)
conn.commit()

In [145]:
create_trigger_customer_email_query = """
CREATE TRIGGER customer_email_trigger
  BEFORE INSERT ON Customer_Dimensional
  BEGIN 
      SELECT
          CASE
            WHEN NEW.Customer_Email NOT LIKE '%__@__%' THEN
                     RAISE (ABORT,'Invalid Email')
               END;
  END;S
  """


cursor.execute(create_trigger_customer_email_query)
conn.commit()

# Access Control

In [175]:
# This is what we would do for access control
'''
create_data_steward = """ CREATE ROLE Data_Steward; GO

"""




cursor.execute(create_data_steward)
conn.commit()'''

'\ncreate_data_steward = """ CREATE ROLE Data_Steward; GO\n\n"""\n\n\n\n\ncursor.execute(create_data_steward)\nconn.commit()'

# Creating Views

In [176]:
create_artist_sales_view = """ CREATE VIEW Artist_Sales AS
SELECT s.Units_Sold, s.Revenue, a.Artist_Name
FROM Sales_Fact s
LEFT JOIN Artist_Dimensional a ON s.Artist_ID = a.Artist_ID

"""


cursor.execute(create_artist_sales_view)
conn.commit()